body 
{  
    background: #0E4C92;
}

.landingPage
{
    margin: auto;
    width: 360px;

    color: #FFF;
    font-size: 24px;
    margin-top: 200px;
}

.landingPage .login
{
    background: #FFF;
    padding: 20px;

    color: #000;
    font-size: 15px;
    text-align: center;
}
