body 
{  
    background: #0E4C92;
}

.landingPage
{
    margin: auto;
    width: 320px;

    color: #FFF;
    font-size: 24px;
    margin-top: 200px;
}

.landingPage .login
{
    background: #FFF;
    padding: 20px;

    color: #000;
    font-size: 15px;
}

.landingPage .login .facebookButton
{
    border: solid 1px #29447E;
    height: 40px;
    width: 270px;
    background: #5F78AB;
}

.landingPage .login .facebookButton .link
{
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;

    color: white;
    text-decoration: none;
}

.landingPage .login .facebookButton .text,
.landingPage .login .facebookButton .image
{
    float: left;
}

.landingPage .login .facebookButton .text
{
    padding: 7px 0px 0px 20px;
}
