body 
{  
    background: #C0C0C0;
}

.header
{
    padding: 20px 40px;
    min-width: 500px;
}

.searchPage
{
    width: 960px;
    margin: 0px auto;
    position: relative;
}

.searchPage .searchControls
{
    float: left;
    position: absolute;
    top: 0px;
}

.searchPage .searchControls .buckets
{
    position: relative;
    margin: 15px 0px 10px 15px;
}

.searchPage .searchControls .buckets .count,
.searchPage .searchRendering .courseResult .badge .overlay
{
    border: solid 1px #000;
    color: #FFF; 
    background: #0E4C92;
}

.searchPage .searchRendering .courseResult .badge .overlay
{
    padding: 3px 4px;
    float: left;
    margin-right: 4px;
}

.searchPage .searchControls .buckets .count
{
    width: 21px;
    height: 20px;
    padding-top: 1px;
    top: 27px;
}

.searchPage .searchControls .buckets .countHighlight
{
    border: solid 1px #0E4C92;
    padding: 1px 4px 9px 6px; 
    top: 27px;
    
    color: #0E4C92; 
    background: #FFF;
}

.searchPage .searchControls .buckets .tooltipArrow
{
    position: absolute;
    display: none;
    
    top: 41px;
    z-index: 20;
}

.searchPage .searchControls .buckets .tooltip
{
    background: #FFF;
    border: solid 1px #000;
    
    z-index: 10;
    
    top: 60px;
    left: -55px;
    width: 400px;
    padding: 20px;
}

.searchPage .searchControls .buckets .tooltip .bucketHeader
{
    font-size: 15px;
    text-decoration: underline;
}

.searchPage .searchControls .buckets .tooltip .desc,
.searchPage .searchRendering .courseResult .description
{
    font-size: 11px;
    color: gray;
}

.searchPage .searchControls .buckets .tooltip .title
{
    margin-top: 10px;
    float: left;
}

.searchPage .searchControls .buckets .tooltip .title .number
{
    font-weight: bold;
}

.searchPage .searchControls .buckets .tooltip .courseItem
{
    border-top: solid 1px #A9A9A9;
    padding-bottom: 10px;
}

.searchPage .searchControls .buckets .tooltip .remove
{
    padding-top: 6px;
    float: right;
}

.searchPage .searchControls .buckets .tooltip .remove a,
.searchPage .searchRendering .results .courseResults .courseResult a
{
    font-size: 11px;
    color: #4B94D9;
}

.searchPage .searchControls .buckets img:first-child
{
    margin: 0px 30px 12px 40px;
}

.searchPage .searchControls .buckets img
{
    margin: 0px 30px 12px 30px;
}

.searchPage .searchControls .searchContainer
{
    margin: 0px 40px 40px 0px;
    padding: 20px;
    width: 320px;
    background: #FFF;
}

.searchPage .searchControls .searchContainer .section
{
    border-bottom: solid 1px #A9A9A9; 
    margin-bottom: 15px; 
    padding-bottom: 5px;
}

.searchPage .searchControls .searchContainer .checkbox
{
    margin: 0px 5px 10px 0px;
}

.searchPage .searchControls .searchContainer .dow .checkbox
{
    margin: 0px 28px 10px 0px;
}

.searchPage .searchControls .searchContainer .checkboxContainer
{
    float: left;
    width: 75px;
}

.searchPage .searchControls .searchContainer #ycpsSuggestions
{
    position: absolute;
    background: white;
    border: solid 1px #213984;
    margin-top: -11px;
    display: none;
}

.searchPage .searchControls .searchContainer .suggestion
{
    padding: 5px;
    width: 308px;
}

.searchPage .searchControls .searchContainer .suggestion span
{
    font-weight: bold;
}

.searchPage .searchControls .searchContainer .separator
{
    position: absolute; 
    margin: -30px 0px 0px 151px; 
    background: white; 
    padding: 0px 5px;
}

.searchPage .searchRendering
{
    position: relative;
    float: left;
    left: 390px;
    width: 560px;
    padding-bottom: 100px;
}

.searchPage .searchRendering .firstRun
{
    font-size: 15px;
    margin: 40px 0px 20px 0px;
    padding: 20px 50px;
    width: 460px;
}

.searchPage .searchRendering .firstRun .welcome
{
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.searchPage .searchRendering .firstRun .advice
{
    list-style: decimal;
}

.searchPage .searchRendering .mapType
{
    margin: 25px 0px 17px 0px;
}

.searchPage .searchRendering .mapType .silverButton
{
    width: 257px;
}

.searchPage .searchRendering .activeButton
{
    background:  #555;
    color: #FFF;
}
.searchPage .searchRendering .activeButton:active
{
    background:  #555;
}

.searchPage .searchRendering .results
{
    position: relative;
}

.searchPage .searchRendering .friendResults, 
.searchPage .searchRendering .friendResults .noResults,
.searchPage .searchRendering .friendResults .friendResult,
.searchPage .searchRendering .courseResults .courseResult .flyout .noResults
{
    display: none;
}

.searchPage .searchRendering .noResults,
.searchPage .searchRendering .loadingResults
{
    width: 560px;
    text-align: center;
    margin-top:40px;
    font-size: 18px;
}

.searchPage .searchRendering .result
{
    padding: 20px;
    margin-bottom: 20px;

    background: #FFF;
}

.searchPage .searchRendering .courseResult
{
    width: 520px;
    position: relative;
}

.searchPage .searchRendering .courseResult .number
{
    font-weight: bold;
}

.searchPage .searchRendering .courseResult .professor
{
    font-style: italic;
}

.searchPage .searchRendering .courseResult .addendum
{
    font-size: 12px;
    color: #0E4C92;
}

.searchPage .searchRendering .courseResult .badge
{
    color: blue;
    position: absolute;
    top: -10px;
    left: -15px;
}

.searchPage .searchRendering .friendResult
{
    width: 245px;
    height: 90px;
    
    float: left;
    position: relative;
    
    margin-right: 10px;
    font-size: 11px;
    padding: 15px;
}

.searchPage .searchRendering .friendResult .image
{
    padding-top: 5px;
    width: 50px;
}

.searchPage .searchRendering .friendResult .information
{
    width: 180px;
    height: 90px;
    overflow: hidden;
}

.searchPage .searchRendering .friendResult .name
{
    font-size: 18px;
    font-weight: 500;
}

.searchPage .searchRendering .result .flyout
{
    display: none;
    position: absolute;
    width: 380px;

    background: white;
    padding: 0px 10px 10px 10px;
    border: solid 1px #000;

    z-index: 10;
    top: -10px;
}

.searchPage .searchRendering .result .flyout .header
{
    min-width: 300px;
    padding: 0px;
    margin-top: 10px;

    font-size: 15px;
    text-decoration: underline;
}

.searchPage .searchRendering .result .flyout .arrow
{
    position: absolute;
    left: 400px;
    z-index: 20;
    top: 10px;
}

.searchPage .searchRendering .result .flyout .listing
{
    margin-top: 0px;
    padding: 5px 10px 5px 10px;
    width: 360px;
    
    font-size: 12px;
    text-align: left;
}

.searchPage .searchRendering .result .flyout .listing .text
{
    float: left;
    padding-left: 5px;
}

.searchPage .searchRendering .result .flyout .listing img
{
    float: left;
}

.searchPage .searchRendering .courseResult .flyout
{
    right: 565px;
}

.searchPage .searchRendering .courseResult .flyout .commentForm
{
    width: 365px;
    height: 15px;
    margin: 20px 0px 5px 0px;
}

.searchPage .searchRendering .courseResult .flyout .comment .user
{
    width: 286px;
    font-weight: bold;
    float:left;
}

.searchPage .searchRendering .courseResult .flyout .comment .date
{
    width: 90px;
    text-align: right;
    font-size: 11px;
    color: gray;
    float:left;
}

.searchPage .searchRendering .courseResult .flyout .comment .content
{
    margin-bottom: 10px;
}

.searchPage .searchRendering .friendResult .flyout
{
    right: 280px;
}

.searchPage .searchRendering .friendResult .flyout .courseTitle
{
    font-weight: bold;
}

.searchPage .searchRendering .friendResult .flyout .professor
{
    font-style: italic;
}



/* Cancelled course listings (overwrites everything else) */
.searchPage .searchRendering .results .courseResults .cancelled,
.searchPage .searchRendering .results .courseResults .cancelled .addendum
{
    color: gray;
}


.searchPage .searchRendering .results .courseResults .cancelled
{
    background: #FF7373;
    font-style: italic;
}

.searchPage .searchRendering .results .courseResults .cancelled a
{
    color: #0E4C92;
}

.searchPage .searchRendering .results .courseResults .cancelled .notice
{
    font-style: normal; 
    font-weight: bold; 
    color: #000;
}

.searchPage .searchRendering .results .courseResults .cancelled .flyout
{
    opacity: 0;
    filter:alpha(opacity=0);
}

/* DRAGGABLE CUE */
.searchPage .searchRendering .draggable:hover
{
    background: #C6E2FF;
}
