<% @results.each do |result| %>
    <div class="result draggable" data-id="<%= result.id %>">
        <%= "#{result.department_abbr} #{result.number}" %><br />
        <%= result.section %>
    </div>
    <script>
        Bluebook.Search.courses.push(<%= result.to_JSON %>);
    </script>
<% end %>
