<div class="firstRun color3 drop_shadow bgWhite round">
    <div class="welcome">
        Welcome to The Friendly Bluebook!
    </div>
    
    To get started follow these simple steps:

    <ul class="advice">
        <li>
            Search for friends and classes using the form at left
        </li>
        <li>
            Drag and drop classes you want to take, shop, or avoid 
            into the appropriate buckets in the upper left
        </li>
        <li>
            See what your friends are saying about a class by
            hovering over it
        </li>
        <li>
            See what classes your friends are taking by hovering
            over their listings below
        </li>
    </ul>
</div>
