<div class="landingPage">
    The Friendly Bluebook

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '102218646546092', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

    <div class="login round drop_shadow">
        <fb:login-button width="500" max-rows="10" show-faces="true"
              perms="email" onlogin="alert('hello')">
          Login with Facebook
        </fb:login-button>
    </div>
</div>
