<div id="fb-root"></div>
<script>
  /* ---- FACEBOOK INITIALIZATION ---- */
  window.fbAsyncInit = function() {
    FB.init({appId: '102218646546092', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<div class="landingPage">
    The Friendly Bluebook
    <div class="login round drop_shadow">
        <div class="facebookButton" onclick="return Bluebook.FBLogin();">
            <a class="link" href="" onclick="return false;" >
              <%= image_tag "index/facebook.png", :class => "image", :width => 40 %>
              <span class="text">Login with Facebook</span>
              <div class="clear"></div>
            </a>
        </div>
    </div>
</div>
