<div class="landingPage">
    The Friendly Bluebook
    <div class="login round drop_shadow">
        <div class="blueButton" style="width:300px" onclick="Bluebook.FBLogin()">
          Login with Facebook
        </div>
    </div>
</div>
