<div class="header bgThemeGradient white size24">
    <%= link_to "The Friendly Bluebook", root_path, :class => "white",
          :style => "text-decoration: none" %>
    <span class="gray size15"><%= subtitle %></span>
</div>
